<li>
 
     <%= link_to default, user %>
    
     <%= link_to user.name, user %>
  <% if current_user.admin? %>
  | <%= link_to "delete", destroy_user_path(user.id), :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{user.name}" %>
  <% end %>
</li>