<table>
  	<tr>
  	  <td class="news">
  	  	<%= image_tag("newshome.png", :alt => "News") %> 
        <h3>Brewery Expeditions:</h3> 
      <p> 
        Last weekend I went up to Sonoma, CA to see the graduation of one of our fellow drinkers (Gilligan). We're all proud of 
        her! While there we hit up Lagunitas Brewery in Petaluma. The brewery was amazing! Great people, fantastic beer and the           tour gave me a new respect for Lagunitas. They're true revolutionaries in the microbrew movement! 
      </p> 
      <p>
	   It was raining the day we went up and we were getting poured on while drinking in their outdoor patio but we didn't care.         The samplers and incredible food made us totally forget about the rain. I definitely recommend you try it! 
      </p> 
     </td>
     <td>
     	<h3>This weeks Brewtube Pick:</h3>
     	<p>
      Our latest Brewtube pick takes a look at Lost Coast Brewing Company in Eureka, California. It's narrated by the brewery's CEO, Brenda Groom, who talks about it's history, beer and ever so artistic bottle designs. 
      </p>
     	<iframe width="240" height="192" align="right"src="http://www.youtube.com/embed/iXDpRxMD-1Q" frameborder="0" allowfullscreen></iframe> 
     </td>
  </tr>
</table>