<li>
	<% if event.eventpic_file_name %>
		<%= link_to image_tag(event.eventpic.url), event_path(event.id)%>
	<% else %>
  	<%= link_to default_image_for_events, event_path(event.id) %>
	<% end %>
	<%= link_to event.name, event %>
</li>