<center>
	<h1>What is beer?</h1>
</center>

<h3>Beer is made from four basic ingredients: grain, water, yeast, and hops.</h3>
<p>
<b><u>Grain</u>:</b> Barley is the most common but many other grains can be used (wheat, oats, rye, rice, corn, etc.). 
This gives the beer its head, color and malty sweet flavor. But perhaps most importantly it provides the 
sugars necessary for fermentation (the creation of alcohol).
</p>
<p>
<b><u>Hops</u>:</b> These are flowers from a female climbing plant. They look like little green pinecones and they actually 
belong to the cannabis family which may explain their deliciously skunky smell. Each of these skunky little 
flowers contains oils and bitter acids and resins. These add flavor, aroma and bitterness to the beer which 
helps counterbalance the sweetness from the grains. They also act as a natural preservative which helps give a 
longer shelf life.
</p>
<p>
<b><u>Water</u>:</b> This makes up 95 percent of the ingredients. Its chemical composition is extremely important depending 
on which type of beer you're brewing. Today brewers can manipulate the water chemistry how ever they want but a 
long ago they couldn't. Brewers had to use whatever water they had so the natural waters of their regions helped 
shape styles of beers within those regions.
</p>
<p>
<b><u>Yeast</u>:</b> This is a single-cell organism responsible for the fermentation process. This little guy is part
of the fungus family. He is certainly a "fun guy" (pun intended) because he creates ethanol (alcohol) by eating the
sugars from the grains. 
</p>
<p>
There are two types of yeast- Ale yeasts which is top-fermenting and works best in warmer temperatures and Lager yeast 
which is bottom-fermenting and works best in colder temperatures.
</p>

<br>
<center>
	<h1>Styles: The Two Families</h1>
</center>
<p>
Beer is divided up into two families- ales and lagers. You can think of it like wine (reds and whites). 
What differentiates ales and lagers are the yeasts used to brew each beer and the brewing process itself. 
There's other differences too like age- ales have been around for over ten thousand years while lagers are 
only a couple hundred years old. Each family has its own different variety of styles and those styles have
their own substyles. Below is a very basic (not at all complete) overview of the two families and their 
styles:
</p>
<table>
	<tr>
		<td>
<ul class="users">
	<h2>Ales</h2>
	<li>Barleywine</li>
        <li>Belgian Ales</li>
        <li>Bitter</li>
        <li>Bock</li>
        <li>Brown Ale</li>
	    <li>Pale Ale</li>
	    <li>Porter</li>
	    <li>Stout</a></li>
        <li>Strong Ales</li>
	    <li>Wheat Beer</li>
	</ul>
	</td>
	<td>
		<ul class="users">
	<h2>Lagers</h2>
	    <li>American Dark Lager</li>
        <li>American Pale Lager</li>
        <li>Bock</li>
        <li>German Dark Lager</li>
        <li>German Pale Lager</li>
	    <li>Marzen &amp;/Oktoberfest</li>
	    <li>Pilsner</li>
	    <li>Rauchbier</a></li>
        <li>Vienna Lager</li>
	</ul>
	</td>
   </tr>
 </table>
		