<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News", articles_path %></li>
      <li><%= link_to "Sponsors", sponsors_path %></li>
    </ul>
  </nav>
  </br>
  Copyright &copy; 2011 Dan's Beer List
</footer>